[Desktop Entry]
Version=1.0
Type=Application
Name=Amiberry 
Comment=Amiga emulator
Icon=/usr/share/applications/amiberry.png
Exec=/usr/share/amiberry
Path=/usr/share/amiberry/
