[Desktop Entry]
Version=1.0
Type=Application
Name=Amiberry DEV
Comment=Amiga emulator
Icon=/usr/share/applications/amiberry_dev.png
Exec=/usr/share/amiberry
Path=/usr/share/amiberry/
