[Desktop Entry]
Version=1.0
Type=Application
Name=Amiberry 
Comment=Amiga emulator
Icon=$HOME/Amiga/data/amiberry.png
Exec=$HOME/Amiga/amiberry
Path=$HOME/Amiga/
