[Desktop Entry]
Version=1.0
Type=Application
Name=Amiberry DEV
Comment=Amiga emulator
Icon=/usr/share/applications/amiberry_dev.png
Exec=amiberry_dev

Path=/opt/Amiga

