[Desktop Entry]
Name=ClassicWB-P96
Exec=ClassicWB-P96_run
Icon=/opt/Amiga/data/amiberry.png
Terminal=true
Type=Application
Keywords=file manager;console;
