[Desktop Entry]
Name=ClassicWB-P96
Exec=ClassicWB-P96
Icon=/home/pi/Amiga/data/amiberry.png
Terminal=true
Type=Application
Keywords=file manager;console;
