[Desktop Entry]
Name=ClassicWB-ADVSP
Exec=ClassicWB-ADVSP_run
Icon=/opt/Amiga/data/amiberry.png
Terminal=true
Type=Application
Keywords=file manager;console;
