[Desktop Entry]
Name=AmiRock-OS Config
Exec=m
Icon=/opt/AmiRock/config/AmiRock-OS.png
Terminal=true
Type=Application
Keywords=file manager;console;
Categories=Settings;DesktopSettings;
Comment=
Path=
StartupNotify=false
