[Desktop Entry]
Name=ClassicWB13
Exec=ClassicWB13
Icon=/home/pi/Amiga/data/amiberry.png
Terminal=true
Type=Application
Keywords=file manager;console;
