[Desktop Entry]
Name=ClassicWB-ADVSP
Exec=ClassicWB-ADVSP
Icon=/home/pi/Amiga/data/amiberry.png
Terminal=true
Type=Application
Keywords=file manager;console;
